.my-react-header {
  font-size: 1.2em;
  border: 1.5px solid #6cdaf7;
  padding: 5px;
  border-radius: 5px;
  background-color: #1f2229;
  color: #6cdaf7;
}
a {
  color: crimson;
}
a:hover {
  color: palevioletred;
}
.react-answer-1 {
  font-style: italic;
  font-size: 1.2em;
  color: palevioletred;
}
.custom-wrapper {
  border: 1px solid #d3d3d3;
  padding: 20px;
  margin-top: 10px;
}

.custom-hint {
  font-size: 12px;
  color: brown;
  font-weight: bold;
}
.custom-hint:before {
  content: '\2618';
}
.custom-save-button {
  background-color: purple;
  color: white;
  padding: 5px;
}
.custom-edit-button {
  background-color: cadetblue;
  color: white;
  padding: 5px;
}
.custom-cancel-button {
  background-color: darkolivegreen;
  color: white;
  padding: 5px;
}

.my-custom-view-wrapper {
  display: flex;
  flex-direction: column;
}

.my-custom-view-wrapper div:last-child {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}
